
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2013/05/03
NET "CLK_I" TNM_NET = CLK_I;
TIMESPEC TS_CLK_I = PERIOD "CLK_I" 20 ns HIGH 50%;
NET "ACK_I" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_I" RISING;
NET "CYC_I" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_I" RISING;
NET "RST_I" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_I" RISING;
NET "STB_I" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_I" RISING;
NET "WE_I" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_I" RISING;
INST "DAT_I<0>" TNM = DAT_I;
INST "DAT_I<1>" TNM = DAT_I;
#INST "DAT_I<2>" TNM = DAT_I;
#INST "DAT_I<3>" TNM = DAT_I;
#INST "DAT_I<4>" TNM = DAT_I;
#INST "DAT_I<5>" TNM = DAT_I;
TIMEGRP "DAT_I" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_I" RISING;
NET "ACK_O" OFFSET = OUT 20 ns AFTER "CLK_I";
NET "CYC_O" OFFSET = OUT 20 ns AFTER "CLK_I";
NET "STB_O" OFFSET = OUT 20 ns AFTER "CLK_I";
NET "WE_O" OFFSET = OUT 20 ns AFTER "CLK_I";
INST "DAT_O<0>" TNM = DAT_O;
INST "DAT_O<1>" TNM = DAT_O;
INST "DAT_O<2>" TNM = DAT_O;
INST "DAT_O<3>" TNM = DAT_O;
INST "DAT_O<4>" TNM = DAT_O;
INST "DAT_O<5>" TNM = DAT_O;
INST "DAT_O<6>" TNM = DAT_O;
INST "DAT_O<7>" TNM = DAT_O;
INST "DAT_O<8>" TNM = DAT_O;
INST "DAT_O<9>" TNM = DAT_O;
INST "DAT_O<10>" TNM = DAT_O;
INST "DAT_O<11>" TNM = DAT_O;
INST "DAT_O<12>" TNM = DAT_O;
INST "DAT_O<13>" TNM = DAT_O;
INST "DAT_O<14>" TNM = DAT_O;
INST "DAT_O<15>" TNM = DAT_O;
INST "DAT_O<16>" TNM = DAT_O;
INST "DAT_O<17>" TNM = DAT_O;
INST "DAT_O<18>" TNM = DAT_O;
INST "DAT_O<19>" TNM = DAT_O;
INST "DAT_O<20>" TNM = DAT_O;
INST "DAT_O<21>" TNM = DAT_O;
INST "DAT_O<22>" TNM = DAT_O;
INST "DAT_O<23>" TNM = DAT_O;
INST "DAT_O<24>" TNM = DAT_O;
INST "DAT_O<25>" TNM = DAT_O;
INST "DAT_O<26>" TNM = DAT_O;
INST "DAT_O<27>" TNM = DAT_O;
INST "DAT_O<28>" TNM = DAT_O;
INST "DAT_O<29>" TNM = DAT_O;
INST "DAT_O<30>" TNM = DAT_O;
INST "DAT_O<31>" TNM = DAT_O;
TIMEGRP "DAT_O" OFFSET = OUT 20 ns AFTER "CLK_I";
